$main: #859E88;
$btn-color: #364967;
$btn-hover: #C8DBE6;
$btn-active: #6187C8;
@import "./Normalize.scss";
@import "./TableView.scss";
@import "./NewRecord.scss";
@import "./Header.scss";
@import "./Info.scss";
@import "./Pagination.scss";
